.metadata
Exjobb\Debug\Core\Src\calc.o
Exjobb\Debug\Core\Src\calc.su
Exjobb\Debug\Core\Src\ICM20948_SPI.o
Exjobb\Debug\Core\Src\main.o
Exjobb\Debug\Core\Src\Exjobb.bin
Exjobb\Debug\Core\Src\Exjobb.elf
Exjobb\Debug\Core\Src\Exjobb.list
Exjobb\Debug\Core\Src\Exjobb.map